Debug
Debug/.vs/Debug/v16/.suo
Debug/.vs/Debug/v16/Browse.VC.db
Debug/Debug.vcxproj
Debug/Debug.vcxproj.filters
Debug/Debug/Debug.exe
Debug/Debug/Debug.ilk
Debug/Debug/Debug.log
Debug/Debug/Debug.pdb
Debug/Debug/Debug.tlog/CL.command.1.tlog
Debug/Debug/Debug.tlog/CL.read.1.tlog
Debug/Debug/Debug.tlog/CL.write.1.tlog
Debug/Debug/Debug.tlog/link.command.1.tlog
Debug/Debug/Debug.tlog/link.read.1.tlog
Debug/Debug/Debug.tlog/link.write.1.tlog
Debug/Debug/vc142.idb
Debug/Debug/vc142.pdb
